@{
    ViewData["Title"] = "About Us Page";
}
<div class="caption-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About Us</h3>
                <ol class="breadcrumb">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="content-inner wow fadeInUp   animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <a href="#article1">Duis autem</a> vel eum iriure dolor in hendrerit in
                    vulputate velit esse molestie consequat.Duis autem vel eum iriure dolor in
                    hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                    feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                    esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent
                    <br>
                    <br>

                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                    accumsan et iusto odio dignissim qui blandit praesent Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent
                    <br>
                    <br>

                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                    accumsan et iusto odio dignissim qui blandit praesent Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent
                    <br>
                    <br>

                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                    accumsan et iusto odio dignissim qui blandit praesent Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent
                    <br>
                    <br>

                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                    accumsan et iusto odio dignissim qui blandit praesent Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent
                    <br>
                    <br>
                    <div id="article1">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate
                        velit esse molestie consequat.Duis autem vel eum iriure dolor in hendrerit
                        in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                        nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                        praesent Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                        esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                        eros et accumsan et iusto odio dignissim qui blandit praesent
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>